<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/springbootredis/src/main/java/com/bocom/redis/configuration/ConditionMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.bocom.redis.configuration.ConditionMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="springbootredis"/>
</launchConfiguration>
